# Git Ignore for sWork Project

# Backend (Maven & Java)
target/
**/target/
*.class
**/*.class
*.log
**/*.log
.idea/
*.iml
.vscode/

# Frontend (Node & Angular)
node_modules/
**/node_modules/
dist/
**/dist/
.angular/
**/.angular/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/front-end/

# Docker & Database
mongo_data/
**/mongo_data/
docker/data/

# OS Files
.DS_Store
Thumbs.db

